#play-area {
	margin-left: auto;
	margin-right: auto;
	width:800px;
	text-align: center;
	display:table;
}

#info {
	display: none;
}

#board {
	display: inline-block;
	margin-left:10px;
}

#chat {
	display: table-cell;
	width: 25%;
	vertical-align: middle;
}

#chat-log {
	resize: none;
	width: 90%;
	margin: auto;
}

#chat-message-input {
	display: inline-block;
	width: 90%
}

#chat-message-submit {
	display: none;
}

.square {
	width: 50px;
	height: 125px;
	background-color: #b3b3b3;
	display: inline-block;
	border: 1px solid black;
	margin: 2px;
	text-align: left;
}

.pool {
	width: 90%;
	height: 40px;
}

.pool img{
	margin-right: -8px;
}

.up-pool {
	padding-bottom: 15px;
}

.bottom-pool {
	padding-top: 15px;
}

.kum {
	width: 50%;
	height: 20%;
	border-radius: 50%;
	display: block;
	background-color: black;
}

.kum-up {
	margin-top: 0px !important;
}

.square div {
	display: inline-block;
	width: 40%;
	margin-top: -10px;
}

.kum_counter {
	display: inline-block;
	width: 50px;
	border: 1px solid black;
	margin: 2px;
}

.counter-wrapper {
	width: 7%;
	height: 40px;
	margin-top: 2px;
	margin-bottom: 2px;
	border: 1px solid black;
	display: inline-block;
}

.counter-wrapper span {
	line-height: 40px;
}