#logout {
  display:inline;
  min-width: 110px;
  min-height: 30px;
  width: 8.5%;
  height: 80%;
}

nav {
  background: #efefef;
  font-family: 'Varela Round';
  height: 100px; 
}

nav a {
  font-size: 32px !important;
}

#logout-button {
  transform: scale(1.5);
}