<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/room.css' %}">
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    {{ color|json_script:"color" }}

    <div id="opponent">
        {% for i in opponent %}
            <div id="field{{i}}" class="square" kum="0" name="{{i}}">
            </div>
        {% endfor %}
    </div>

    <div id="you">
        {% for i in you%}
            <div id="field{{i}}" class="square" kum="0" name="{{i}}">
            </div>
        {% endfor %}
    </div>


    <!--<div id="opponent">
        <div id="field18" class="square" kum="0" name="18"></div>
        <div id="field17" class="square" kum="0" name="17"></div>
        <div id="field16" class="square" kum="0" name="16"></div>
        <div id="field15" class="square" kum="0" name="15"></div>
        <div id="field14" class="square" kum="1" name="14"></div>
        <div id="field13" class="square" kum="0" name="13"></div>
        <div id="field12" class="square" kum="0" name="12"></div>
        <div id="field11" class="square" kum="0" name="11"></div>
        <div id="field10" class="square" kum="0" name="10"></div>
    </div>

    <div id="you">
        <div id="field1" class="square" kum="0" name="1"></div>
        <div id="field2" class="square" kum="0" name="2"></div>
        <div id="field3" class="square" kum="0" name="3"></div>
        <div id="field4" class="square" kum="0" name="4"></div>
        <div id="field5" class="square" kum="0" name="5"></div>
        <div id="field6" class="square" kum="0" name="6"></div>
        <div id="field7" class="square" kum="0" name="7"></div>
        <div id="field8" class="square" kum="0" name="8"></div>
        <div id="field9" class="square" kum="0" name="9"></div>
    </div> -->

    <script src="{% static 'js/room.js' %}"></script>
</body>
</html>