<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/room.css' %}">
</head>
<body>
    <div id="play-area">
        <div id="info">
            <img id="sphere" style="display: none" src="{% static 'img/sphere.png' %}" alt="">
            <img id="red-sphere" style="display: none" src="{% static 'img/red_sphere.png' %}" alt="">
            {{ room_name|json_script:"room-name" }}
            {{ color|json_script:"color" }}
            {{ request.user.username|json_script:"username" }}
        </div>
        <div id="chat">
            <textarea id="chat-log" cols="100" rows="20" readonly></textarea><br>
            <input id="chat-message-input" type="text" size="100"><br>
            <input id="chat-message-submit" type="button" value="Send">
        </div>
        <table id="board">
            <tr>
                {% for i in opponent %}
                    <td class="kum_counter">
                        <span id="counter_{{i}}" name="{{i}}">{{i}}</span>
                    </td>
                {% endfor %}
            </tr>
            <tr id="opponent">
                {% for i in opponent %}
                    <td id="field{{i}}" class="square" kum="0" name="{{i}}">
                    </td>
                {% endfor %}
            </tr>

            <tr>
                {% if color == 'white' %}
                <td class="counter-wrapper">
                    <span id="counter_black_pool">0</span>
                </td>
                {% else %}
                <td class="counter-wrapper">
                    <span id="counter_white_pool">0</span>
                </td>
                {% endif %}
                <td id="{% if color == 'white' %}black_pool{% else %}white_pool{% endif %}" class="square pool"></td>
            </tr>
            <tr>
                {% if color == 'white' %}
                <td class="counter-wrapper">
                    <span id="counter_white_pool">0</span>
                </td>
                {% else %}
                <td class="counter-wrapper">
                    <span id="counter_black_pool">0</span>
                </td>
                {% endif %}
                <td id="{% if color == 'white' %}white_pool{% else %}black_pool{% endif %}" class="square pool"></td>
            </tr>

            <tr id="you">
                {% for i in you%}
                    <td id="field{{i}}" class="square" kum="0" name="{{i}}">
                    </td>
                {% endfor %}
            </tr>

            <tr class="your-counters">
                {% for i in you %}
                    <td class="kum_counter your_counter">
                        <span id="counter_{{i}}" name="{{i}}">{{i}}</span>
                    </td>
                {% endfor %}
            </tr>

            
        </table>    
    </div>
    <script src="{% static 'js/room.js' %}"></script>
</body>
</html>