<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/room.css' %}">
</head>
<body>
    <p>{{request.auth}}</p>
    <table id="board">
        <tr id="">
            <td id="field1" class="square" name="1">
                <div><img src="https://img.icons8.com/fluency/25/000000/sphere.png"/></div>
                <div><img src="https://img.icons8.com/fluency/25/000000/sphere.png"/></div>
            </td>
            <td id="field2" class="square" name="2"></td>
            <td id="field3" class="square" name="3"></td>
            <td id="field4" class="square" name="4"></td>
            <td id="field5" class="square" name="5"></td>
            <td id="field6" class="square" name="6"></td>
            <td id="field7" class="square" name="7"></td>
            <td id="field8" class="square" name="8"></td>
            <td id="field9" class="square" name="9"></td>
        </tr>
        <tr id="">
            <td id="field1" class="square" name="1"></td>
            <td id="field2" class="square" name="2"></td>
            <td id="field3" class="square" name="3"></td>
            <td id="field4" class="square" name="4"></td>
            <td id="field5" class="square" name="5"></td>
            <td id="field6" class="square" name="6"></td>
            <td id="field7" class="square" name="7"></td>
            <td id="field8" class="square" name="8"></td>
            <td id="field9" class="square" name="9"></td>
        </tr>
    </table>
</body>
</html>