<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{% static 'css/info.css' %}">
	<link rel="stylesheet" href="{% static 'css/navbar.css'%}">
</head>
<body>
	{% include 'imports/navbar.html' %}
	<div class="content">
	<table cellspacing="0" cellpadding="1" class="table table-bordered">
		<thead class="header">
			<tr><td><b>Об игре</b></td></tr>
		</thead>
		<tbody>
			<tr>
				<td>
				<div>
				<p>
				<b>Тогыз Кумалак</b> ("девять камешков") - это казахская логическая игра для двух игроков, которая относится к семейству игр Манкала.
				</p>
				</div>

				<div>
				<ul>
					<li><a href="#board-info">Доска</a></li>
					<li><a href="#goal-info">Цель игры</a></li>
					<li><a href="#game-info">Процесс игры</a></li>
				</ul>
				</div>
				</td>
			</tr>
		</tbody>
	</table>

	<table id='board-info' cellspacing="0" cellpadding="1" class="table table-bordered">
		<thead class="header">
			<tr><td><b>Доска</b></td></tr>
		</thead>
		<tbody>
			<tr>
				<td>
				<div>
				<p>
				В игре <i>Тогыз Кумалак</i> используется специальная доска с двумя рядами маленьких <i>лунок</i> (по девять в каждом ряду) и двумя большими <i>лунками</i>, которые называются <i>"казанами"</i>. Нижний (ближний) ряд <i>лунок</i> считается стороной игрока, противоположный ряд - стороной противника. <i>"Казан"</i> игрока находится ближе к стороне противника, а <i>"казан"</i> противника - ближе к стороне игрока.
				</p>
				</div>

				<div>
				<p>
					В начале игры в каждой маленькой <i>лунке</i> находится по девять <i>камней</i>.

				</p>
				</div>

				<div class='center'>
				<img src="{% static 'img/board.png' %}" alt="">
				</div>
				</td>
			</tr>
		</tbody>
	</table>

	<table id='goal-info' cellspacing="0" cellpadding="1" class="table table-bordered">
		<thead class="header">
			<tr><td><b>Цель игры</b></td></tr>
		</thead>
		<tbody>
			<tr>
				<td>
				<div>
				<p>
				Игрок побеждает в игре, если он собирает в своем <i>казане</i> большее количество <i>камней></i> чем противник собирает в своем <i>казане</i>.
				</p>
				</div>

				<div>
				<p>
					Если в конце игры в <i>казанах</i> каждого из игроков находится одинаковое кол-во <i>камней</i>, то игра завершается вничью.
				</p>
				</div>
				</td>
			</tr>
		</tbody>
	</table>

	<table id='game-info' cellspacing="0" cellpadding="1" class="table table-bordered">
		<thead class="header">
			<tr><td><b>Процесс игры</b></td></tr>
		</thead>
		<tbody>
			<tr>
				<td>
				<div>
				<p>
				Игроки ходят по очереди, вынимая камни из одной из <i>лунок</i> и раскадывая их в другие <i>лунки</i> следующим образом:
				</p>
				</div>

				<div>
				<ul>
					<li>Игрок вынимает все <i>камни</i> из одной из <i>лунок</i> на своей стороне.</li>
					<li>Если выбранная <i>лунка</i> содержала больше одного камня, то первый вынутый камень кладется обратно в ту же лунку, из которой он был взят. Все последующие вынутые камни игрок раскладывает в лунки против часовой стрелки (слева-направо в своих лунках и справа-налево в лунках противника). В каждую лунку он кладет по одному камню.</li>
					<li>Если выбранная лунка содержала всего один камень, то он кладется в следующую лунку против часовой стрелки.</li>
				</ul>
				</div>

				<div>
					<p>Ниже приведен пример одного хода:</p>
				</div>

				<div class='center'>
				<img src="{% static 'img/move1.png' %}" alt="">
				</div>
				<div class='center'>
					<p class='text-center'><i>Игрок вынимает девять камней из лунки и раскладывает их против часовой стрелки.</i></p>
				</div>
				<div class="center">
					<p class="text-center"><i>Обратите вниманиен а то, что первый вынутый камень падает обратно в лунку, из который был сделан ход.</i></p>
				</div>

				<div>
					<ul>
					<li>
						<p>
						Если при раскладывании игрок кладет последний камень в лунку противника, доводя общее количество камней до четного числа, то он забирает все камни из этой лунки (вместе со своим камнем) и кладет их в свою лунку-накопитель.
						</p>
					</li>
					</ul>
				</div>

				<div class="center">
					<img src="{% static 'img/move2.png' %}" alt="">
				</div>
				<div class="center">
					<p class="text-center">
						<i>Последний камень падает в лунку на стороне противника
и доводит общее кол-во камней до четного числа (10).
Все эти 10 камней перемещаются в "казан" игрока</i>
					</p>
				</div>

				<div>
					<ul>
					<li>
						<p>
							Если при раскладывании игрок кладет последний камень в лунку противника, доводя общее количество камней до трёх, а также удовлетворяются три нижеприведенных условия, то все эти три камня перемещаются в "казан" игрока, а лунка превращается в "туздык"  ("святок место" по-казахски). Упомянутые три условия перечислены ниже:
						</p>
						<ul>
							<li><p>если у игрока уже есть "туздык".</p></li>
							<li><p>последняя лунка на стороне противника (самая правая) не может быть превращена в "туздык".</p></li>
							<li><p>"туздык" не может быть создан симметрично уже созданному "туздыку" оппонента (например, если третья лунка на стороне игрока является "туздыком" противника, то игрок не может превратить третью лунку на стороне противника в свой собственный "туздык").</p></li>
						</ul>
						<p>
							Ход, нарушающий любое из этих трех условий, может быть произведен, однако в результате не создается "туздык" и три камня остаются лежать в лунке.
						</p>
						<p>
							Любой камень, падающий при раскладывании в "туздык", забирается владельцем "туздыка" в свой "казан".
						</p>
					</li>
					</ul>
				</div>
				<div class="center">
					<img src="{% static 'img/tuzdyk1.png' %}" alt="">
				</div>
				<div class="center">
					<p>
						<i>Игрок вынимает 10 камней из своей лунки (зеленой) и раскладывает их против часовой стрелки.</i>
					</p>
				</div>
				<div class="center">
					<p>
						<i>Последний камень падает в лунку на стороне оппонента (красная) и доводит общее кол-во камней до трех.</i>
					</p>
				</div>

				<div class="center">
					<img src="{% static 'img/tuzdyk2.png' %}" alt="">
				</div>
				<div class="center">
					<p>
						<i>Эта лунка превращается в "туздык" игрока (все три камня перемещаются в "казан" игрока).</i>
					</p>
				</div>

				<div>
					<ul>
					<li>
						<p>
						Если игрок не может сделать ход, так как все его лунки пусты, то второй игрок переносит все оставшиеся в его лунках камни в свой казан, и игра завершается. Выигрывает игрок, набравший большее количество камней в своем казане.
						</p>
					</li>
					</ul>
				</div>

				</td>
			</tr>
		</tbody>
	</table>
	</div>
</body>
</html>